<h2>Events</h2>
<% @events.each do |event| %>
  <div>
    <strong>Event: </strong><%= link_to event.name, event_path(event.id) %><br/>
    <strong>Date: </strong><%= event.date.strftime('%m/%d/%Y') %><br/>
    <strong>Location: </strong><%= event.location %><br/>
    <strong>Created By: </strong><%= event.creator.name %><br/>
    <br/>
  </div>
<% end %>