<div class="p-4">
  <h2 class='font-bold underline text-lg mb-3' >Create New Event</h2>
  <%= render 'form' %>
   <%= link_to 'Cancel', user_path(current_user.id), class: 'bg-blue-500 text-white py-1 px-2 text-sm rounded'%>
</div>
